html {
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  position: fixed;
  height: 100%;
  user-select: none;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
