.logo {
  height: 25%;
  left: 50%;
  max-height: 200px;
  max-width: 200px;
  pointer-events: none;
  position: absolute;
  stroke: #fff;
  stroke-width: 0.5;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.logo__media {
  height: 100%;
  width: 100%;
}
